/*------------------------- 
 Pull in colors:
 ------------------------*/
@import url("alien-colors.css");

/* Bar style */
#bar {
    margin: 0;
    font-family: "ShureTechMono Nerd Font Mono";
    font-weight: bold;
}

/*Hide icons*/ 
image {
    opacity: 0;
    margin: 0;
    padding: 0;
    border: 0;
}


button {
    background: @color-bg;
    border: 10px solid @color-fg;
    color: @color-fg;           
    padding: 5px 5px;
    margin: 0;
}

button label {
    font-family: "ShureTechMono Nerd Font Mono";
    font-size: 33px;            
}

button:hover,
button:focus {
    background-color: @color-fg;
    color: @color-bg;
}

grid {
    background-color: @color-bg;
    padding: 10px;
}
