/*
scheme: "Nord"
author: "arcticicestudio"
*/

@define-color base10 #2E3440;
@define-color base00 #3B4252;
@define-color base02 #434C5E;
@define-color base03 #4C566A;
@define-color base04 #D8DEE9;
@define-color base05 #E5E9F0;
@define-color base06 #ECEFF4;
@define-color base07 #8FBCBB;
@define-color base08 #88C0D0;
@define-color base09 #81A1C1;
@define-color base0A #5E81AC;
@define-color base0B #BF616A;
@define-color base0C #D08770;
@define-color base0D #EBCB8B;
@define-color base0E #A3BE8C;
@define-color base0F #B48EAD;
@define-color black #000000;

#entry {
border-radius: 0px;
padding: 5px 2px 5px 2px;
margin: 0px 4px 0px 4px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#entry:selected {
color: @black;
background-color: rgb(137, 117, 4);
padding: 3px;
}

#text:selected {
color: @black;
}

#window {
animation-name: fadeIn;
animation-duration: 0.1s;
background-color: rgb(000000);
font-family: IosevkaTermSlab Nerd Font Mono;
letter-spacing: 1px;
text-transform: uppercase;
font-size:18;
}

#input {
border: none;
background-color: rgb(137, 117, 4);
border-radius: 0px;
margin: 4px 4px 8px 4px;
padding: 8px;

color: #000000;
caret-color: #000000;
-gtk-secondary-caret-color: #000000;
}

#input:focus,
#input:backdrop {
caret-color: #000000;
}



#inner-box {
color: rgba (255,0,0,1);
border-radius: 0px;
/* margin-right: 180px; */
}

#outer-box {
background-color: rgba (0,0,0,1);
border-radius: 0px;
border: 1px solid #474747;
padding: 10px;
box-shadow: 0px 0px 3px 1px  #0F0F0F;
margin: 0px;
}

#scroll {
}

#text {
color: rgb(137, 117, 4);
background-color: transparent;
}

#img {
  background-color: transparent;
}

