/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */


/*
Polar Night
nord0  #2e3440
nord1  #3b4252
nord2  #434c5e
nord3  #4c566a
Snow Storm
nord4  #d8dee9
nord5  #e5e9f0
nord6  #eceff4
Frost
nord7  #8fbcbb
nord8  #88c0d0
nord9  #81a1c1
nord10 #5e81ac
Aurora
nord11 #bf616a
nord12 #d08770
nord13 #ebcb8b
nord14 #a3be8c
nord15 #b48ead
*/
/*------------------------- 
 Pull in colors:
 ------------------------
 */
 @import url("alien-colors.css");

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */

* {
    /*border: 2px solid @color-bg;*/
    border-radius: 0;
    padding: 2px 2px;
	font-family: "Departure Mono";
    font-weight: bold;
    font-size: 18px;
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom:2px;
   }
   
tooltip {
  background: @color-bg;
  border: 2px solid @color-fg;
}
tooltip label {
  color: @color-fg;
}

window#waybar {
    background:  @color-bg; 
}

#workspaces button {
    padding: 0px 7px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-width: 2px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 2px;
    border-style: solid;
    border-color: @color-fg;
    color: @color-fg;
    /*background: rgba (0,0,0,0.80); */
    
}
#workspaces button.active {
    /*border: 2px dash @color-fg*/
    background: @color-fg;
    color: @color-bg;
}

#cpu, #memory, #temperature,#custom-keyboard-layout, #backlight, #tray, #window,#custom-launcher,#custom-power,#custom-updates ,#custom-network_traffic,#custom-weather{
    padding: 0 10px;
    border: 2px solid @color-fg;
    color: @color-fg;
    background: @color-bg;
}

#network {
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 20px;
    border: 2px solid @color-fg;
    color: @color-bg;
    background: @color-fg;
}
#network.disabled {
    color:@color-fg;
    background:@color-bg;
}

#network.disconnected {
    color: @color-fg;
    background: @color-bg;
}

#clock {
	padding: 0px 15px;
	border: 4px solid @color-fg;
	color: @color-fg;
}

#pulseaudio {
	padding: 0px 15px;
	border: 2px solid @color-fg;
	border-left-width: 1px;
	color: @color-bg;
	background: @color-fg;
}
#pulseaudio.muted {
    color: @color-fg;
    background: @color-bg;
}

#battery {
	padding: 0px 15px;
	border: 2px solid @color-fg;
	border-right-width: 1px;
	color: @color-fg;
}

#bluetooth {
	padding: 0px 15px;
	border: 2px solid @color-fg;
	border-left-width: 1px;
	color: @color-fg;
}

#bluetooth.connected{
	color: @color-bg;
	background: @color-fg;
}
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#backlight {
    color: #ebcb8b;
}

#battery.charging {
    color: #81a1c1;
}

@keyframes blink {
    to {
        color: #4c566a;
        background-color: #eceff4;
    }
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color:#a3be8c ;
}

#memory {
    color: #d3869b;
}



#temperature {
    color: #8fbcbb;
}

#temperature.critical {
    color: #bf616a;
}

#tray {
}



#custom-power{
    border-style: hidden;
    margin-top:2px;
}

#window{
    border-style: hidden;
    margin-top:1px;
}
#custom-keyboard-layout{
   color:#d08770;
}
#custom-network_traffic{
   color:#d08770;
}
