/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */


/*
Polar Night
nord0  #2e3440
nord1  #3b4252
nord2  #434c5e
nord3  #4c566a
Snow Storm
nord4  #d8dee9
nord5  #e5e9f0
nord6  #eceff4
Frost
nord7  #8fbcbb
nord8  #88c0d0
nord9  #81a1c1
nord10 #5e81ac
Aurora
nord11 #bf616a
nord12 #d08770
nord13 #ebcb8b
nord14 #a3be8c
nord15 #b48ead
*/

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */

* {
    border-color: #000000;
    border-width: 2px;
    border-radius: 0;
    padding: 2px 2px;
	font-family: "Departure Mono", monospace;
    font-size: 18px;
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom:2px;
    background: rgba (0,0,0,0.8);
   }

/*window#waybar {
    background: rgba (0,0,0,0.20); 
    border-radius: 0px 0px 0px 0px;
}*/

#workspaces button {
    padding: 1px 7px;
    border-right: 1px;
    border-left: 1px;
    border-top: 2px;
    border-bottom: 2px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top:2px;
    border-style: solid;
    border-color: #8c7901;
    color: #8c7901;
    background: #000000;
    
}
#workspaces button.active {
    border: 2px solid #8c7901;
    background: #8c7901;
    color: #000000;
}

#cpu, #memory, #temperature,#custom-keyboard-layout, #backlight, #tray, #window,#custom-launcher,#custom-power,#custom-updates ,#custom-network_traffic,#custom-weather{
    padding: 0 10px;
    border: 2px solid #8c7901;
    color: #8c7901;
    background: #000000;
}

#network, #idle_inhibitor {
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 20px;
    border-bottom: 2px;
    border-style: solid;
    border-color: #8c7901;
    color: #8c7901;
    background: #000000;
}
#network.disabled {
    color:#bf616a;
}

#network{
    color:#a3be8c;
}

#network.disconnected {
    color: #bf616a;
}

#clock, #battery, #pulseaudio {
	padding: 0 5px;
	border: 2px;
	border-style: solid;
	border-color: #8c7901;
	color: #8c7901;
}

/* #pulseaudio.muted {
    color: #e20548;
}*/
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#backlight {
    color: #ebcb8b;
}

#battery {
    color: #d8dee9;
}

#battery.charging {
    color: #81a1c1;
}

@keyframes blink {
    to {
        color: #4c566a;
        background-color: #eceff4;
    }
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color:#a3be8c ;
}

#memory {
    color: #d3869b;
}



#temperature {
    color: #8fbcbb;
}

#temperature.critical {
    color: #bf616a;
}

#tray {
}



#custom-power{
    border-style: hidden;
    margin-top:2px;
}

#window{
    border-style: hidden;
    margin-top:1px;
}
#custom-keyboard-layout{
   color:#d08770;
}
#custom-network_traffic{
   color:#d08770;
}
